.dices{
    border: blue 1px dashed;
    /* height: 50vh; */
    height: 30rem;
    display: flex;
    border-radius: 25px;
}
.dice{
    margin: 5px;
    flex: 4;
    background: black;
    border-radius: 25px;
}
.types{
    margin: 5px;
    background: white;
    flex: 1;
    border-radius: 25px;
    ul{
        border-radius: 25px;
        list-style-type: none;
        border: black 1px solid;
        height: 100%;
        li{
            height: calc(90%/3);
            margin: 10px;
            padding: 10px;
            border-radius: 25px;
            background: red;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}